body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Header */
.main-header {
  padding: 10px;
  margin: 10px;
}

/* Navbar */
.logo {
  height: 80px;
  width: 80px;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-logo-header {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 40px;
  margin-right: 20px;
}

.navbar-header {
  font-size: 24px;
  color: rgb(33, 152, 225);
  margin: 0;
}

/* Toggle */
.toggle-container {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.toggle-container button {
  padding: 10px 20px;

  border: none;
  cursor: pointer;
  border: 1px solid #258cfb;
}

.toggle-container button.active {
  background-color: white;
  color: #007bff;
  font-weight: bold;
}

/* Table */
.table-container {
  width: 80%;
  margin: 0 auto;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 5px 0;
}

thead {
  background-color: #007bff;
  color: white;
}

#td-bold {
  font-weight: bold;
}

thead tr {
  background-color: #007bff;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #e1f3ff;
}

/* Load Button */
.load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
